#clock {
    font-size: 200px;
    width: 900px;
    margin: 2em;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background-image: url("img/masaimarasunset.jpg");
}

body {
    background-color: gray;
}